body {
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 12px;
  background: rgb(41, 41, 41);
}
#deck {
  width: 100vw;
  height: 100vh;
}
#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}